
@{
    ViewData["Title"] = "Index";
}
<p style="margin-top:50px">
    <a class="btn btn-outline-primary" asp-controller="doador" asp-action="login" >Já Sou um Doador</a>
    <a class="btn btn-primary" asp-controller="doador" asp-action="cadastro">Quero ser um Doador</a>
</p>


