@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="margin-top:100px">Seja Bem-Vindo(a)</h1>
    <p style="margin-top:50px">
        Somos uma solução sem fins lucrativos criada para prevenção de desperdicio e fome.
    </p>
    <h3 style="margin-top: 70px">Como Funciona?</h3>
    <p>
        Aqui você pode optar por ser um doador e fornecer os descartes em bom estado da sua safra, ou realizar uma doação beneficente para pessoas que necessitam de uma ajudinha,
        pode se cadastrar como donatário para ser a pessoa que realizará a retirada desses produtos.
    </p>
    <p>
        Aqui você também pode se cadastrar como local de retirada desses alimentos e suprimentos. fazendo a intermediação entre o doador e o donatário.
    </p>
    <p style="margin-top: 10px">
        <strong>Escolha a Opção no menu acima e ajude a previnir os descates excessivos e a necessidade do proximo</strong>
    </p>
</div>
