
@{
    ViewData["Title"] = "Index";
}
<p style="margin-top:50px">
    <a class="btn btn-outline-primary"  asp-controller="local" asp-action="login">Já Sou um Local</a>
    <a class="btn btn-primary"  asp-controller="local" asp-action="cadastro">Quero ser um Local</a>
</p>
